<% include ../layout/master %>

<div class="header-bottom color-div">
	<div class="container">
		<a class="visible-xs beta-menu-toggle pull-right" href="#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
		<div class="visible-xs clearfix"></div>
		<nav class="main-menu">
			<ul class="l-inline ov">
				<li><a href="./homepage">Trang chủ</a>
					<ul class="sub-menu">
					<%loai.forEach(function(loai){%>
						<li><a href="/<%= loai.route %>"><%= loai.name%></a></li>
					<%})%>
					</ul>
				</li>
				<li><a href="#">Pages</a>
					<ul class="sub-menu">
						<li><a href="about_1.html">About 1</a></li>
						<li><a href="about_2.html">About 2</a></li>
						<li><a href="testimonials.html">Testimonials</a></li>
						<li><a href="text_page.html">Text Page</a></li>
						<li><a href="typography.html">Typography</a></li>
						<li><a href="accordion_toggles.html">Accordion and Toggles</a></li>
						<li><a href="buttons.html">Buttons</a></li>
						<li><a href="custom_callout_box.html">Custom Callout Box</a></li>
						<li><a href="404.html">Page 404</a></li>
						<li><a href="under_construction.html">Coming Soon</a></li>
					</ul>
				</li>
				<li><a href="features.html">Features</a></li>
				<li><a href="#">Portfolio</a>
					<ul class="sub-menu">
						<li><a href="portfolio_type_a.html">Portfolio type A</a></li>
						<li><a href="#">Portfolio type B</a>
							<ul class="sub-menu">
								<li><a href="portfolio_2col.html">Portfolio B - 2 Columns</a></li>
								<li><a href="portfolio_3col.html">Portfolio B - 3 Columns</a></li>
								<li><a href="portfolio_4col.html">Portfolio B - 4 Columns</a></li>
							</ul>
						</li>
						<li><a href="portfolio_single.html">Portfolio Item</a></li>
					</ul>
				</li>
				<li><a href="#">Blog</a>
					<ul class="sub-menu">
						<li><a href="blog_fullwidth_1col.html">Blog Full Width</a>
							<ul class="sub-menu">
								<li><a href="blog_fullwidth_2col.html">Blog Full Width - 2 Columns</a></li>
								<li><a href="blog_fullwidth_3col.html">Blog Full Width - 3 Columns</a></li>
								<li><a href="blog_fullwidth_4col.html">Blog Full Width - 4 Columns</a></li>
							</ul>
						</li>
						<li><a href="#">Blog Type A</a>
							<ul class="sub-menu">
								<li><a href="blog_with_sidebarleft_type_a.html">Blog A - Left Sidebar</a></li>
								<li><a href="blog_with_sidebarright_type_a.html">Blog A - Right Sidebar</a></li>
							</ul>
						</li>
						<li><a href="blog_with_sidebarleft_type_b.html">Blog Type B</a></li>
						<li><a href="#">Blog Type C</a>
							<ul class="sub-menu">
								<li><a href="blog_with_sidebarleft_type_c.html">Blog C - Left Sidebar</a></li>
								<li><a href="blog_with_sidebarleft_type_c_2cols.html">Blog C - 2 Columns</a></li>
							</ul>
						</li>
						<li><a href="blog_with_sidebarleft_type_d.html">Blog Type D</a></li>
						<li><a href="#">Blog Type E</a>
							<ul class="sub-menu">
								<li><a href="blog_with_sidebarleft_type_e.html">Blog E - Left Sidebar</a></li>
								<li><a href="blog_with_2sidebars_type_e.html">Blog E - 2 Sidebars</a></li>
							</ul>
						</li>
						<li><a href="#">Blog Single Post</a></li>
					</ul>
				</li>
				<li><a href="index.html">Shop</a>
					<ul class="sub-menu">
						<li><a href="index.html">Home Shop 1</a></li>
						<li><a href="home_2.html">Home Shop 2</a></li>
						<li><a href="home_3.html">Home Shop 3</a></li>
						<li><a href="checkout.html">Checkout</a></li>
						<li><a href="pricing.html">Pricing</a></li>
						<li><a href="shopping_cart.html">Shopping Cart</a></li>
						<li><a href="product.html">Product</a></li>
					</ul>
				</li>
				<li><a href="contacts.html">Contact</a></li>
			</ul>
			<div class="clearfix"></div>
		</nav>

	</div> <!-- .container -->
</div> <!-- .header-bottom -->


<div class="container">
	<div id="content">
		<div class="row">
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-4">
						<img src="assets/dest/images/products/<%=sp.image%>" alt="">
					</div>
					<div>
						<div class="single-item-body">
							<p class="single-item-title"><%=sp.name%></p>
							<p class="single-item-price">
								<span><%=sp.promotion_price%></span>
							</p>
						</div>
						<div class="clearfix"></div>
						<div class="space20">&nbsp;</div>
					</div>
				</div>
				<div class="space40">&nbsp;</div>
				<div class="woocommerce-tabs">
					<div class="single-item-options">
						<a class="add-to-cart" class="add-to-cart pull-left" data-id="<%=sp.id%>" ><i class="fa fa-shopping-cart"></i></a>
					</div>
					<ul class="tabs">
						<li><a href="#tab-description">Description</a></li>
					</ul>

					<div class="panel" id="tab-description">
						<p><%=sp.description;%></p>
					</div>

					</div>

					<div class="row">
						<div class="col-md-1">
							<div class="avatar">
								<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
							</div><!-- /thumbnail -->
						</div><!-- /col-sm-1 -->

						<div class="col-sm-5">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
								</div>
								<div class="panel-body">
									Panel content
								</div><!-- /panel-body -->
							</div><!-- /panel panel-default -->
						</div><!-- /col-sm-5 -->

					</div><!-- /row -->






					<%comment.forEach(function(bl){%>
					<div class="chat-panel panel panel-default">
								<div class="panel-heading">
									 <div class="row">
											 <div class="col-xs-1">
												 <img src="http://graph.facebook.com/<%=bl.user.facebookid%>/picture?type=square" class="img-circle">
											 </div>
											 <div class="col-xs-9 text-left">
											 <div ><%=bl.user.facebookname%></div>
													 <div style="padding-top: 15px"><%=bl.content%></div>
											 </div>
									 </div>
								 </div>
					</div>
			<%})%>
			<form class="shipping-form"  method="post" role="form" data-toggle="validator" novalidate="false">
				<div class="col-xs-12 col-md-12">
			      <div class="form-group">
			        <input type="text"  id="binhluan"  placeholder="Viết bình luận">
							<input type="hidden" id="idface" value="<%=user.id%>">
							<input type="hidden" id="idPost" value="<%=sp.id%>">
			      </div>
			  </div>
			<div class="text-right col-xs-2 col-md-6">
					<a id="comment" class="btn btn-default">Bình luận</a>
				</div>
		</form>

	</div> <!-- #content -->
</div> <!-- .container -->
</div>
</div>

<%include ../layout/footer %>
	<!-- #footer -->
	<%include ../layout/copyright %>
	<!-- .copyright -->

	<%include ../layout/script %>

  <style>
  .pagination li a{
  	background-color:#FFDFE0;
  }
  .pagination > .active > span{

  }

  </style>

  </body>
  </html>
