<% include ../layout/master %>
<div class="header-bottom color-div">
	<div class="container">
		<a class="visible-xs beta-menu-toggle pull-right" href="#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
		<nav class="main-menu">
			<ul class="l-inline ov">
				<li><a href="./homepage">Trang chủ</a>
					<ul class="sub-menu">
					<%loai.forEach(function(loai){%>
						<li><a href="/<%= loai.route %>"><%= loai.name%></a></li>
					<%})%>
					</ul>
				</li>
			<div class="clearfix"></div>
		</nav>
	</div> <!-- .container -->
</div> <!-- .header-bottom -->

<div class="rev-slider">
	<div class="fullwidthbanner-container">
		<div class="fullwidthbanner">
			<div class="bannercontainer" >
		    <div class="banner" >
			<ul>
				<!-- THE FIRST SLIDE -->
				<li data-transition="boxfade" data-slotamount="20">
                <img src="assets/dest/images/thumbs/slider2/banner2.jpg" alt="image"/>
                <div class="caption lft"  data-x="50" data-y="40" data-speed="500" data-start="1200" data-customin="rotationZ:-720;scaleX:0.4;scaleY:0.4" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider2/layer1.png" alt="image" width="70%" style="border-radius:50%" /></div>
                <div class="caption lfr"  data-x="700" data-y="100" data-speed="800" data-start="2000" data-easing="easeOutBack" style="font-size:50px;color:#1E90FF">Cupcake của tháng</div>
				<div class="caption lfl"  data-x="650" data-y="260" data-speed="800" data-start="2800" data-easing="easeOutBack" style="font-size:30px;color:#6495ED;">Pumpkin Spice bánh đứng đầu với kem bơ</div>


            </li>
			<li data-transition="boxfade" data-slotamount="20">
                <img src="assets/dest/images/thumbs/banner4.jpg" alt="background">

                <div class="caption lft" data-x="80" data-y="280" data-speed="700" data-start="2100" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide5-1.png" alt="slider image" /></div>
                <div class="caption lft" data-x="134" data-y="280" data-speed="700" data-start="2400" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide5-2.png" alt="slider image" /></div>
                <div class="caption lft" data-x="190" data-y="280" data-speed="700" data-start="2700" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide5-3.png" alt="slider image" /></div>
                <div class="caption lft regular_button" data-x="80" data-y="360" data-speed="700" data-start="2900" data-easing="easeOutBack">mua ngay</div>
				 <div class="caption lfr" data-x="580" data-y="50" data-speed="700" data-start="3200" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/layer2.jpg" alt="slider image" style="border-radius:50%; border:solid 2px white" width="70%" /></div>

            </li>
			<li data-transition="boxfade" data-slotamount="20">
                <img src="assets/dest/images/thumbs/banner1.jpg" alt="background">
                <div class="caption lfl" data-x="90" data-y="50" data-speed="700" data-start="2500" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide3-2.jpg" alt="slider image" style="border-radius:50%;border:double 4px green " width="70%" /></div>
				<div class="caption lfr"  data-x="700" data-y="100" data-speed="800" data-start="2000" data-easing="easeOutBack" style="font-size:50px;color:#1E90FF">Workshop 2017 </div>

				<div class="caption lfr"  data-x="660" data-y="240" data-speed="800" data-start="2400" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/layer3.png" alt="image"/></div>
				<div class="caption lfr"  data-x="660" data-y="288" data-speed="800" data-start="2800" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/layer4.png" alt="image"/></div>

            </li>

			<li data-transition="boxfade" data-slotamount="20">
                <img src="assets/dest/images/thumbs/banner3.jpg" alt="background">

                <div class="caption lft" data-x="80" data-y="280" data-speed="700" data-start="2100" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide5-1.png" alt="slider image" /></div>
                <div class="caption lft" data-x="134" data-y="280" data-speed="700" data-start="2400" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide5-2.png" alt="slider image" /></div>
                <div class="caption lft" data-x="190" data-y="280" data-speed="700" data-start="2700" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide5-3.png" alt="slider image" /></div>
                <div class="caption lft regular_button" data-x="80" data-y="360" data-speed="700" data-start="2900" data-easing="easeOutBack">Mua ngay</div>
				 <div class="caption lfr" data-x="580" data-y="50" data-speed="700" data-start="3200" data-easing="easeOutBack"><img src="assets/dest/images/thumbs/slider3/slide3-3.jpg" alt="slider image" style="border-radius:45%; border:solid 2px #DA70D6" width="75%"/></div>
            </li>

			</ul>
			</div>
			</div>

			<div class="tp-bannertimer"></div>
		</div>
</div>

<!--slider-->
</div>

<div class="container">
	<div id="content" class="space-top-none">
		<div class="main-content">
			<div class="space10">&nbsp;</div>

			<div class="space60">&nbsp;</div>
			<div class="row">

				</div> <!-- .aside -->
				<div class="col-sm-12">
					<div class="beta-products-list">
						<h4>New Products</h4>


						<div class="row">
						<% sanphammoi.forEach(function(sp){%>
							<div class="col-md-4">
								<div class="single-item">

									<div class="single-item-header">
										<a href="chitiet/<%=sp.id%>"><img src="assets/dest/images/products/<%=sp.image%>" alt="" height="250px"></a>
									</div>
									<div class="single-item-body">
										<p class="single-item-title"><%=sp.name%></p>
										<p class="single-item-price">
											<span class="flash-del"><%=sp.unit_price%></span>
											<span class="flash-sale"><%=sp.promotion_price%></span>
										</p>
									</div>
									<div class="single-item-caption">
										<a class="add-to-cart" class="add-to-cart pull-left" data-id="<%=sp.id%>"  data-toggle="modal" data-target="#myModal<%=sp.id%>" ><i class="fa fa-shopping-cart"></i></a>
										<!-- Modal -->
  										<div class="modal fade" id="myModal<%=sp.id%>" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Đạt hàng thành công</h4>
        </div>
        <div class="modal-body">
					<p>Sản phẩm <strong><%=sp.name%><strong> đã được thêm vào giỏ hàng</p>
          <p>Cám ơn bạn đã mua hàng</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  											</div>
										<a class="beta-btn primary" href="/chitiet/<%=sp.id%>">Details <i class="fa fa-chevron-right"></i></a>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						<%})%>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6"><ul class="pagination">
										<% if (pageCount > 1) { %>
	        <ul class="pagination">
	            <% if (currentPage > 1) { %>
	                <li><a href="/homepage">&laquo;</a></li>
	            <% } %>
	            <% var i = 1;
	            if (currentPage > 5) {
	                i = +currentPage - 4;
	            } %>
	            <% if (i !== 1) { %>
	                <li class="disabled"><a href="#">...</a></li>
	            <% } %>
	            <% for (i; i<=pageCount; i++) { %>
	                <% if (currentPage == i) { %>
	                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
	                <% } else { %>
	                    <li><a href="/sanpham/<%= i %>"><%= i %></a></li>
	                <% } %>
	                <% if (i == (+currentPage + 4)) { %>
	                    <li class="disabled"><a href="#">...</a></li>
	                <% break; } %>
	            <% } %>
	            <% if (currentPage != pageCount) { %>
	                <li><a href="/sanpham/<%= pageCount %>">&raquo;</a></li>
	            <% } %>
	        </ul>
	    <% } %>
            </ul>
</div>

							<div class="col-md-3"></div>
						</div>
					</div> <!-- .beta-products-list -->

					<div class="space50">&nbsp;</div>

					<div class="beta-products-list">
						<h4>Top Products</h4>

						<div class="row">
						<% topProduct.forEach(function(sp){%>
							<div class="col-md-4">
								<div class="single-item">

									<div class="single-item-header">
										<a href="chitiet/<%=sp.id%>"><img src="assets/dest/images/products/<%=sp.image%>" alt="" height="250px"></a>
									</div>
									<div class="single-item-body">
										<p class="single-item-title"><%=sp.name%></p>
										<p class="single-item-price">
											<span class="flash-del"><%=sp.unit_price%></span>
											<span class="flash-sale"><%=sp.promotion_price%></span>
										</p>
									</div>
									<div class="single-item-caption">
									<a class="add-to-cart" class="add-to-cart pull-left" data-id="<%=sp.id%>" ><i class="fa fa-shopping-cart"></i></a>
									<a class="beta-btn primary" href="/chitiet/<%=sp.id%>">Details <i class="fa fa-chevron-right"></i></a>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						<%})%>
						</div>

						<div class="space40">&nbsp;</div>

					</div> <!-- .beta-products-list -->
				</div>
			</div> <!-- end section with sidebar and main content -->


		</div> <!-- .main-content -->
	</div> <!-- #content -->


<%include ../layout/footer %>
	<!-- #footer -->
	<%include ../layout/copyright %>
	<!-- .copyright -->

	<%include ../layout/script %>

  <style>
  .pagination li a{
  	background-color:#FFDFE0;
  }
  .pagination > .active > span{

  }

  </style>

  </body>
  </html>
